<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="myTemplate">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h3>À propos</h3>
			<div class="row border border-primary">
				<div class="col-lg-4">
					<div class="panel panel-primary">
						<div class="panel-heading">Horaires</div>
						<div class="panel-body"></div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="panel panel-primary">
						<div class="panel-heading">Histoire</div>
						<div class="panel-body"></div>
						A la médiathèque, on peut lire le journal, emprunter des livres
						bien sûr, de la musique et des films, on peut aussi s'installer
						tranquillement et surfer sur sa tablette ou encore discuter avec
						la bibliothécaire!
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading">information utiles</div>
						<div class="panel-body"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="panel panel-primary">
						<div class="panel-heading">Notre contact</div>
						<div class="panel-body"></div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="panel panel-primary">
						<div class="panel-heading">information utiles</div>
						<div class="panel-body"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>